* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
  font-size: 16pt;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 900;
}

.distance-map {
  display: inline-block;
  float: left;
}

.cities {
  display: inline-block;
  float: right;
}

.gender-div {
  border-radius: 5px;
  box-sizing: border-box;
  width = 100px;
  height = 20px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.innerdiv {
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 -0.13em;
  padding: 0;
}

.gender-subtitle {
  height: 15px;
  width: 15px;
  border-radius: 5px;
}

 /*Age Display Styles*/

.bar-style{
border-radius: 5px;
height: 20px;
border: 2px solid white;
}

.age-bar{
background-color: #FF5722;
/*
-webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.5);
box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.5);
color:#FFF;
*/
}

.salary-bar{
background-color: #673AB7;
/*
-webkit-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.5);
box-shadow: inset 1px 2px 5px 0px rgba(0,0,0,0.5);
*/
}

.age{
  padding-left:0.5rem;
  padding-bottom:5px;
  font-size:10px;
}

.age-box{
border-right:1px dashed #cccccc;
}


tr{
  border-top: 1px solid #cccccc;
}

tr:nth-child(1){
  border:none;
}

tr:nth-child(9){
  border-bottom: 1px solid #cccccc;
}
.salary-box{
border-right:1px dashed #cccccc;
margin-right:5px;
padding-right:5px;
font-weight: 300;
font-size: 10pt;
}

.salary-box{
border-right:1px dashed #cccccc;
}

.border_bottom{
  border-bottom:2px solid #cccccc;
}

/*Footer styles*/

html {
  position: relative;
  min-height: 100%;
  border-top:20px solid #26809E;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #615D63;
  color:white;
  padding:1rem;
}

.container {
  width: auto;
  max-width: 90%;
  padding: 0 15px;
}
