<div class="row">
  <div class="col-md-12">
    <h1>Welcome To the Visual Codus Backend.</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <a href="/backend/course/new">Add a Course and Course Data</a><br>
    <a href="/backend/courses">Edit a Course
  </div>
  <div class="col-md-6">
    <a href="/backend/student/new">Add Student Data</a><br>
    <a href="/backend/students">Edit a Student's Data
  </div>
</div>
