courses.vtl

<table class="table table-striped" border="1">
  <thead>
  <th>
    <h1>Courses</h1>
  </th>
</thead>
  <tbody>
    <tr>
      <td>
        <ul>
          #foreach($course in $allCourses)
          <li><a href="/course/$course.getCourseId()">$course.getName()</a></li>
          #end
        </ul>
      </td>
    </tr>
  </tbody>
</table>
