<div class="container">
  <div class="ages-list">
    #foreach ($age in $ages)
      <li>$age</li>
    #end
  </div>
  <div class="graph-container">
    #foreach ($student in $students)
        $student
        <br>
    #end
  </div>
</div>
