<!DOCTYPE html>
<html>
  <head>
    <title>Welcome To Visual Codus</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href="/css/app.css">
    <script src="js/script.js"></script>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
    <footer class="footer">
      <div class="container">
      <p><a href="/backend">ADMIN BACKEND</a> | <a href="http://www.epicodus.com/">EPICODUS HOME</a> | <a href="https://github.com/SummerBr/visual-codus">FORK ON GITHUB</a></p>
      </div>
    </footer>
  </body>
</html>
