<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Visual Codus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" id="logo"><img src="/img/logo.png" style="width:125px;"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="http://www.epicodus.com/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/backend">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


      #parse( $template )

    </div>
    <footer class="footer">
      <div class="container">
      <p><a href="/backend">ADMIN BACKEND</a> | <a href="http://www.epicodus.com/">EPICODUS HOME</a> | <a href="https://github.com/SummerBr/visual-codus">FORK ON GITHUB</a></p>
      </div>
    </footer>
  </body>
</html>
