<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Visual Codus</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
    <footer class="footer">
      <div class="container">
      <p><a href="/backend">ADMIN BACKEND</a> | <a href="http://www.epicodus.com/">EPICODUS HOME</a> | <a href="https://github.com/SummerBr/visual-codus">FORK ON GITHUB</a></p>
      </div>
    </footer>
  </body>
</html>
