Courses this student is enrolled in:

<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        Student Name:<strong>$showStudent.getName()</strong>
      </td>
      <td>
        Date of Enrollment:<strong>$showStudent.getDate()</strong>
      </td>
    </tr>
    <tr colspan="2"><td>
      <ul>
      #foreach($course in $showStudent.getCourses())
      <li>$course.getName()&nbsp;&nbsp;$course.getCourseNumber()</li>
      #end
    </ul></td></tr>
  </tbody>
</table>
